.github/
.idea/
.vscode
.ignore
CODE_OF_CONDUCT.md
CONTRIBUTING.md
docker-compose.yml
README.md
.git/
Dockerfile*
.dockerignore
.env
.env.*
node_modules/
frontend/node_modules/
dist/
build/
coverage/
*.log
*.log*