#App
APP_PORT=8080

# Database
PG_USERNAME=pulseguard
PG_PASSWORD=password
PG_DATABASE=pulseguard

# Redis
REDIS_URL=localhost:6379

# SMTP
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER=
DEFAULT_RECIPIENT_EMAIL=

# Traefik
PULSEGUARD_DOMAIN=pulseguard.domain.tld
ACME_EMAIL=youremail.domain.tld