DATABASE_URL=postgres://user:password@postgres:5432/pulse

REDIS_URL=localhost:6379

PORT=8080

# Static files serving (SPA - Single Page Application)
# Path to serve Vue.js frontend from (relative or absolute)
STATIC_DIR=./static

# SMTP
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASSWORD=
SMTP_SENDER=notification@pulsguard.io
DEFAULT_RECIPIENT_EMAIL=you@email.com
